:root {
  font-family: "Museo Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bs-heading-color: #026786;
  --bs-link-color-rgb: 0, 163, 173;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}
